body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color:  #415994;
    font-family: Arial, sans-serif;
}

.formulario{
    background-color: #93adee;
    height: 60vh;
    width: 60vw;
    display: flex;
    align-items: center;
    border-radius: 5vh;
    text-align: right;
}

a{
    font-size: 4vh;
    color: #415994;
    margin-left: 10vh;
}

input{
    border-radius: 1.0vh;
    border-color: #415994;
    border: 7vh;
    margin-top: 5vh;
    margin-left: 5vh;
    width: 80vh;
    height: 4vh;
    margin-bottom: 0.4vh;
}

